* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: #255EE9;
}

.header-row {
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
}

.logo, .login {
    width: 10%;
    padding: 0px 10px;
}
.login {
    display: flex;
    justify-content: end;
    margin-top: 10px;
}

.logo {
    padding-top: 10px;
    margin-right: 50px;
}

.link {
    width: 40%;
}

.lista-link {
    display: flex;
    list-style-type: none;
    padding-left: 0px;
    justify-content: center;
    width: 100%;
    font-size: 10px;
}

.elemento-lista {
    text-align: center;
    width: 20%;
}

.row-intro {
    padding: 150px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../img/jumbo.png);
    background-size: cover;
}

.col-intro {
    width: 50%;
    text-align: center;
    
}

main {
    color: #23272A;
}

.row {
    
    padding-bottom: 100px;
    padding-top: 100px;
    line-height: 1.5;
}

.gray {
    padding-top: 100px;
    padding-bottom: 100px;
}

.row, .last-main-row, .footer-row {
    display: flex;
    justify-content: center;
}

.col-img {
    width: 35%;
}

.col-text {
    width: 20%;
    margin-top: 20px;
    margin-left: 40px;
    margin-right: 40px;
}

.gray, .last-main-row {
    background-color: lightgray;
}


.last-main-col {
    width: 55%;
    text-align: center;
    padding-bottom: 50px;
    padding-top: 50px;
}

.footer-row {
    background-color: #23272A;
    padding-top: 50px;
    color: white;
    align-items: unset;
}

.main-footer-col {
    width: 25%;
}

.footer-col {
    width: calc(30% / 4);
}

.footer-container {
    background-color: #23272A;
    padding-top: 30px;
}

.footer-container {
    display: flex;
    justify-content: center;
    align-items: end;
}

.last-footer-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 55%;
    padding-bottom: 50px;
    
}

.footer-button {
    background-color: rgb(142, 161, 225);
    color: white;
    font-size: 13px;
    padding: 8px;
    border-radius: 20px;
}

.bottoni {
    height: 30px;
    margin: 0 auto;
    width: 80%;
    display: flex;
    justify-content: space-around;
}

.bottone {
    padding: 5px 10px;
    border-radius: 20px;
}
.bianco {
    background-color: white;
    color: black;
}
.nero {
    background-color: #23272A;
    color: white;
}

.blu {
    background-color: rgb(142, 161, 225);
    color: white;
    width: 200px;
    margin: 0 auto;
}

p {
    margin-bottom: 10px;
}

h1 {
    margin-bottom: 20px;
}

 h2 {
    margin-bottom: 15px;
 }

 h3 {
    margin-bottom: 30px;
    background-image: url(../img/stars.svg);
 }

.h3-footer {
    color: rgb(142, 161, 225);
}

 .ultima-lista {
    list-style-type: none;
    padding-left: 0px;
    line-height: 1.5;
    color: white;
 }
 
 .primo-elemento {
    color: rgb(142, 161, 225);
 }

 .text-white {
    color: white;
 }

 .main-img {
    width: 100%;
 }

 .ita-img {
    width: 20px;
 }

 .motto {
    background-color: black;
    height: 40px;
 }